/* Cadastro.css */
.cadastro-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.cadastro-header {
    font-size: 1.5rem;
    text-align: center;
}

.cadastro-form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.cadastro-input {
    margin-bottom: 10px;
    padding: 5px;
}

.cadastro-button {
    background-color: #4caf50;
    color: white;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cadastro-button:hover {
    background-color: #45a049;
}